<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="connectionString" value="Server=localhost\SQLEXPRESS01;Database=DataBaseTest;Trusted_Connection=True;"/>
    <add key="tableName" value="Words"/>
    <add key="countElements" value="5"/>
  </appSettings>
</configuration>